.footer-section {
    background: #161619;
    width: 19.8125em;
    height: 4em;
    /* padding: 2em; */
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em;
    color: #918E9B;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #918E9B;
}